<!doctype html>
<html lang="en">
<head>
    <title>{{global.site_name}}</title>

</head>

<body>
    <h1>{{page.greeting}}</h1>
    <h2>{{page.introduction}}</h2>
    {{#page.languages}}
    <h3>{{name}}, {{years}} years of experience</h3>
    {{/page.languages}}
</body>
</body>
</html>
