<html>

<head>
    <title>{{global.site_name}}</title>
</head>

<body>
    <h1>{{page.greeting}}</h1>
    <p>{{page.introduction}}</p>

    <ol>
        {{#page.languages}}
        <li>{{name}}, {{years}} years of experience </li>
        {{/page.languages}}
    </ol>

</body>


</html>