<!doctype html>
<html lang="en">
<head>
    <title>{{global.site_name}}</title>

</head>

<body>
    <h1>{{page.greeting}}</h1>
    <h2>{{page.introduction}}</h2>
    {{#page.languages}}
    <h3>{{name}}, {{years}} years of experience</h3>
    {{/page.languages}}

    <div class="row mt-5 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
        {{#projects}}
        <div class="col-md-4 col-sm-12 mb-2r">
            <a href="/project/portfolio-2zw61z">
                <div class="position-relative project">
                    <div class="image position-relative ">
                        <img src="{{{image}}}" class="img-fluid w-100 d-block">
                        <div class="overlay-box">
                            <div class="overlay-inner overlay-content">
                                <h5 class="mb-0">Portfolio</h5>
                                <p>Design</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {{/projects}}
        {{>scripts}}
</body>
</body>
</html>
